html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.7;
    text-align: center;
}

.main {
    width: 100%;
    
}

header {
    height: 69px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    text-align: right;
    background-color: black;
    
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav a {
    text-decoration: underline;
    padding: 0 10;
    color: seashell;
    
}



#mission {
    height: 700px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    padding-top: 69px;
    background-size: cover;
    background-repeat: no-repeat;
}

#locations {
    height: 500px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

.items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.item caption {
    display: block;
    text-align: center;
 
}

.item img {
    display: block;
    height: 200px;
    width: 300px;
    margin: 10;
     
}

#locations h2 {
    padding-top: 40;
    padding-bottom: 15px;
    
}

#locations .box {
    display: block;
    width: 300px;
    background-color: black;
    justify-content: center;
    margin-left: 20;
    margin-right: 20;
    
}

#impressum {
    height: 200px;
}

footer {
    
    text-align: left;
    padding-left: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}